.card {
  width: 290px;
  box-shadow: 0px 2px 11px -1px #777777;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
}

.cardName {
  padding-top: 24px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.cardImg img {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.cardInfo {
  text-align: center;
}

.monsterBallFrameContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.monsterBallFrame {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: solid 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(red 46%, black 46%, black 54%, white 54%);
  cursor: pointer;
}

.masterBallFrame {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: solid 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgb(145, 2, 148) 46%,
    black 46%,
    black 54%,
    white 54%
  );
  cursor: pointer;
}

.monsterBallFrame {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: solid 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(red 46%, black 46%, black 54%, white 54%);
}

.monsterBallButton {
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 5px black;
  background-color: #fff;
  font-weight: bold;
}
